name: CD Pipeline

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Set up Kind
        uses: engineerd/setup-kind@v0.9.0
        with:
          version: v0.21.0

      - name: Load Docker image to Kind
        run: |
          kind load docker-image myapp:latest --name kind

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0

      - name: Terraform Init & Apply
        run: |
          terraform init terraform/
          terraform apply -auto-approve terraform/